<!DOCTYPE html>

<html ng-app='PomApp' ng-controller="myCtrl">
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

<body ng-click='Cancel()'>
<h1>Pomodoro Clock</h1>
<div class='center'>
  <p>BREAK LENGTH</p> 
  <div class='group'>
    <button class='dec' ng-disabled='isPress' ng-click='Break($event)'>-</button>
    <p class='num'>{{br}}</p>
    <button class='inc' ng-disabled='isPress' ng-click='Break($event)'>+</button>
  </div>
</div>
<div class='center'>
  <p>SESSION LENGTH</p>
  <div class='group'>
    <button class='dec' ng-disabled='isPress' ng-click='Session($event)'>-</button>
    <p class='num'>{{se}}</p>
    <button class='inc' ng-disabled='isPress' ng-click='Session($event)'>+</button>
  </div>
</div>
<div id='clock' ng-click='TimerBS()'>
  <h2>{{head}}</h2>
  <p>{{time}}</p>
  <span class="fill" ng-style="{'height':fillHeight, 'background':fillColor }"></span>
</div>
</body>
</html>
