<!DOCTYPE html>

<html>
  <head>
    <script type="text/javascript" src="dist/bundle.js" charset="utf-8"></script>
  </head>

  <body ng-app='PomApp' ng-controller="myCtrl">
    <h1 class="header">Pomodoro Clock</h1>
    <div class='time-change'>
      <p class="time-change__header">BREAK LENGTH</p>
      <div>
        <button class='time-change__button dec' ng-disabled='timerIsOn' ng-click='decrement(breakName)'>-</button>
        <span class='time-change__minutes'>{{periodsParams.break.minutes}}</span>
        <button class='time-change__button inc' ng-disabled='timerIsOn' ng-click='increment(breakName)'>+</button>
      </div>
    </div>
    <div class='time-change'>
      <p class="time-change__header">SESSION LENGTH</p>
      <div>
        <button class='time-change__button dec' ng-disabled='timerIsOn' ng-click='decrement(sessionName)'>-</button>
        <span class='time-change__minutes'>{{periodsParams.session.minutes}}</span>
        <button class='time-change__button inc' ng-disabled='timerIsOn' ng-click='increment(sessionName)'>+</button>
      </div>
    </div>
    <div class='clock' ng-click='toggleTimer()'>
      <h2 class="clock__header">{{periodsParams[active].head}}</h2>
      <p class="clock__time">{{time}}</p>
      <span class="fill" ng-class="periodsParams[active].fillClass" ng-style="{'height': fillHeight + '%' }"></span>
    </div>
  </body>
</html>
